<div class="my-4">
  <div class="row">
    <div class="col text-center">
      <img
        src="img/profile.jpeg"
        alt="profile"
        class="rounded-pill"
        width="200"
        height="250"
      />
      <h1 class="display-4">Muhammad Afif</h1>
      <p class="lead">Iam Full Stack Web Developer</p>
    </div>
  </div>
</div>
